ion-view
  ion-header-bar.bar-light
    button.button.button-icon.icon.ion-navicon(
      menu-toggle="left"
    )
    h1.title olah
  
  ion-content
    .content
      p 
        | olah,
        img(ng-src='{{ currentUser.image }}')
        | {{ currentUser.name }}
