ion-view
  ion-header-bar(align-title="center" class="bar-positive")
    button(class="button button-icon icon ion-navicon" menu-toggle="left")
    h1(class="title") olah

  ion-content
    .loader
      ion-spinner
