ion-view
  ion-header-bar(align-title="center" class="bar-positive")
    button(class="button button-icon icon ion-navicon" menu-toggle="left")
    h1.title Settings

  ion-content
    .list
      ion-toggle
        span.settings-item__text Allow Push Notifications
      ion-toggle
        span.settings-item__text Allow cookies
