ion-view
  ion-header-bar.bar-light(align-title="center")
    h1(class="title") iniciar sesión

  ion-content
    .login-wrapper
      button(
        ng-click="loginVM.authenticate()"
        class="button button-clear button-positive button-large icon-left ion-social-facebook"
      ) autentificarse
