ion-side-menus
  ion-side-menu-content
    ion-nav-view(name="viewContent")

  ion-side-menu(side="left" class="side-menu")
    ion-header-bar(align-title="center" class="bar-positive")
      h1(class="title") Side Menu
    ion-content.has-header
      .list
        a(menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.welcome")
          i.icon.ion-home
          | home

        a(menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.settings")
          i.icon.ion-settings
          | settings
        
        a(menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.home")
          i.icon.ion-ionic
          | not done yet
        
        a.item.item-icon-left(menu-close ng-controller='LoginController as loginVM' ng-click='loginVM.logout()')
          i.icon.ion-log-out
          | salir
